<footer class="page-footer font-small bg-primary  pt-4 mt-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">گروه فنی و مهندسی دارنو</h5>
                <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">دسته بندی</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="font" href="#!">برنامه نویسی وب</a>
                    </li>
                    <li>
                        <a class="font" href="#!">برنامه نویسی موبایل</a>
                    </li>
                    <li>
                        <a class="font" href="#!">برنامه نویسی ویندوز</a>
                    </li>
                    <li>
                        <a class="font" href="#!">طراحی سایت</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase font mt-3 mb-4">با دارنو</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="font" href="#!">ارتباط با ما</a>
                    </li>
                    <li>
                        <a class="font" href="#!">درباره ما</a>
                    </li>
                    <li>
                        <a class="font" href="#!">قوانین سایت</a>
                    </li>
                    <li>
                        <a class="font" href="#!">ثبت همکاری</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase font mt-3 mb-4">سایر بخش ها</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="font">علوم کامپیوتر</a>
                    </li>
                    <li>
                        <a href="#!" class="font">مقالات آموزشی</a>
                    </li>
                    <li>
                        <a href="#!" class="font">طراحی و گرافیک</a>
                    </li>
                    <li>
                        <a href="#!" class="font">مدرسین</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-success mx-1 waves-effect waves-light">
                <i class="fab fa-whatsapp"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-secondary mx-1 waves-effect waves-light">
                <i class="fab fa-instagram"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-danger mx-1 waves-effect waves-light">
                <i class="fab fa-youtube"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-info mx-1 waves-effect waves-light">
                <i class="fab fa-telegram"> </i>
            </a>
        </li>

    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="https://mdbootstrap.com/" class="font">

            طراحی و توسعه گروه فنی و مهندسی دارنو
        </a>
    </div>
    <!-- Copyright -->

</footer>