<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - رزرو اسپرت</title>
    <link rel="stylesheet" href="~/css/bootstrap-rtl.min.css" media="screen">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css" media="screen">
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha23/dist/font-face.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
    <!-- MDB icon -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="~/clock/dist/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/persian-datepicker-0.4.5.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Percian-Calender/style/kamadatepicker.min.css" />

    <link rel="stylesheet" href="~/css/style.css">
    <!----------------------------------->

</head>