@model FinancialViewModel
@{
    ViewData["Title"] = "اطلاعات مالی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="d-flex justify-content-end px-4">
                <a class="d-inline-block mt-3 text-black" href="/Admin/Collection">
                    مجموعه ها
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                </a>
            </div>
            <div class="card-body pt-0">
                <h6 class="card-title">اطلاعات مالی مجموعه</h6>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                }
                <form asp-controller="Collection" asp-action="Financial" method="post" enctype="multipart/form-data">

                    <div class="row col-sm-12">
                        <div class="row col-6">
                            <div class="form-group col-md-12">
                                <label>شماره کارت</label>
                                <input type="number" asp-for="FinancialCard" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <label>شماره حساب</label>
                                <input type="number" asp-for="FinancialNumber" class="form-control">
                            </div>    <div class="form-group col-md-12">
                                <label>شماره شبا</label>

                                <div class="input-group date timepicker" id="datetimepickerExample" data-target-input="nearest">

                                    <input type="number" onKeyPress="if(this.value.length==24) return false;" asp-for="FinancialSheba" class="form-control datetimepicker-input" data-target="#datetimepickerExample">
                                    <div class="input-group-append" data-target="#datetimepickerExample" data-toggle="datetimepicker">
                                        <div class="input-group-text">
                                            IR
                                        </div>
                                    </div>
                                </div>
                            </div> <input type="hidden" asp-for="CollectionId" />
                            <input type="hidden" asp-for="FinancialId" />
                            <div class="form-group col-md-12">
                                <label>موجودی کیف پول</label>
                                <input type="number" asp-for="FinancialPrice" class="form-control">
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>


