@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mt-5">

        <div class="col-6 offset-3 mt-5">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger font">
                    @ViewBag.Error
                </div>
            }
            <h2 class="font text-center text-primary">ورود به رزرو اسپرت</h2><hr />
            <form asp-action="Login" asp-controller="Account">
                <!-- Email input -->
                <label class="form-label font" for="form2Example1">شماره موبایل</label>
                <div class="input-group mb-3">
                    <br />
                    <input type="text" id="number" asp-for="Number" class="form-control" placeholder="" aria-label="Example text with button addon"
                           aria-describedby="button-addon1">   <div class="input-group-prepend">
                        <button onclick="Send()" class="btn font btn-md btn-outline-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="button-addon1">ارسال رمز</button>
                    </div>
                  
                </div>
                <span class="text-danger font" asp-validation-for="Number"></span>



                <div class="form-outline mb-4">
                    <label class="form-label font" for="form2Example1">رمز موقت</label>
                    <input type="text" id="number" asp-for="Password" class="form-control" />
                    <span class="text-danger font" asp-validation-for="Password"></span>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn font btn-primary btn-block mb-4">ورود به سایت</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p class="font"><a class="font" href="/Register">ثبت نام در سایت</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial"/>