
@{
    ViewData["Title"] = "ثبت مجموعه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!---
<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-2 mt-5">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }
            <h2 class="font text-center text-primary">ثبت مجموعه در رزرو اسپرت</h2><hr />
            <form asp-action="Register" asp-controller="Account">
                <!-- Email input -->
<!--
<div class="form-outline mb-4">
    <label class="form-label font" for="form2Example1">نام خانوادگی</label>
    <input type="text" id="form2Example2" asp-for="UserName" class="form-control" />
    <span class="text-danger font" asp-validation-for="UserName"></span>
</div>

<!-- Password input -->
<!--
<div class="form-outline mb-4">
    <label class="form-label font" for="form2Example1">کدملی</label>
    <input type="text" id="form2Example2" asp-for="NationalCode" class="form-control" />
    <span class="text-danger font" asp-validation-for="NationalCode"></span>
</div>
<div class="form-outline mb-4">
    <label class="form-label font" for="form2Example1">شماره موبایل</label>
    <input type="text" id="form2Example2" asp-for="PhoneNumber" class="form-control" />
    <span class="text-danger font" asp-validation-for="PhoneNumber"></span>
</div>
<!-- Submit button -->
<!--
<button type="submit" class="btn font btn-primary btn-block mb-4">ثبت نام</button>
<!-- Register buttons -->
<!--
<div class="text-center">
    <p class="font">قبلا ثبت نام کردید؟<a class="font" href="/login">ورود به سایت </a></p>
</div>
            </form>
        </div>
    </div>
</div>---->
