@using System.Collections.Specialized
@model RegisterCollectionViewModel
@{
    ViewData["Title"] = "ثبت مجموعه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-10 offset-1 mt-5">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }
            <h2 class="font text-center text-primary">ثبت مجموعه در رزرو اسپرت</h2><hr />
            <form asp-action="RegisterCollection" asp-controller="Account" method="post">
                <!-- Email input -->
                <div class="row ">
                  
                    <div class="form-outline  mb-4 col-4">
                        <label class="form-label font" for="form2Example1">نام خانوادگی</label>
                        <input type="text" id="form2Example2" asp-for="UserName" class="form-control input-custom" />
                        <span class="text-danger font" asp-validation-for="UserName"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4 col-4">
                        <label class="form-label font" for="form2Example1">کدملی</label>
                        <input type="text" id="form2Example2" asp-for="NationalCode" class="form-control input-custom" />
                        <span class="text-danger font" asp-validation-for="NationalCode"></span>
                    </div>
                    <div class="form-outline mb-4 col-4">
                        <label class="form-label font" for="form2Example1">شماره موبایل</label>
                        <input type="text" id="form2Example2" asp-for="PhoneNumber" class="form-control input-custom" />
                        <span class="text-danger font" asp-validation-for="PhoneNumber"></span>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="form-outline mb-4 col-6">
                        <label class="form-label font" for="form2Example1">نام مجموعه</label>
                        <input type="text" id="form2Example2" asp-for="CollectionName" class="form-control input-custom" />
                        <span class="text-danger font" asp-validation-for="CollectionName"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4 col-6">
                        <label class="form-label font" for="form2Example1">شماره تماس</label>
                        <input type="number" id="form2Example2" asp-for="CollectionPhoneNumber" class="form-control input-custom" />
                        <span class="text-danger font" asp-validation-for="CollectionPhoneNumber"></span>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label>استان</label>
                        <select class="form-control font" id="SIR" asp-for="StateId" asp-items="@ViewBag.State">
                            <option value="0">یک گزینه انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="StateId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label>شهر</label>
                        <select class="form-control font" id="CIR" asp-for="CityId" asp-items="@ViewBag.city">
                            <option value="0">یک گزینه انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">نشانی:</label>
                    <textarea class="form-control" asp-for="CollectionAddress" id="exampleFormControlTextarea1" rows="5"></textarea>
                    <span asp-validation-for="CollectionAddress" class="text-danger"></span> </div>
                <!-- Submit button -->
                <button type="submit" class="btn font btn-primary col-2 btn-block mb-4">ثبت نام</button>
                <!-- Register buttons --><hr/>
                <div class="text-center">
                    <p class="font">قبلا ثبت نام کردید؟<a class="font" href="/login">ورود به سایت </a></p>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#SIR").change(function () {
                var groupId = $("#SIR").val();
                $.getJSON("/CityList/" + groupId,
                    function (res) {
                        var item = "";
                        $.each(res,
                            function (i, sub) {
                                item += '<option value="' + sub.value + '">' + sub.text + '</option>';
                            });
                        $("#CIR").html(item);

                    });
            });

        });
    </script>
}

