@model ContactViewModel
@{
    ViewData["Title"] = "ارتباط با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="container">
    <div class="row">
        <div class="col-12">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-info mt-4" role="alert">
                    <h4>@ViewBag.error</h4>
                </div>

            }


            <!-- Material form register -->
            <div class="card mt-5 mb-5">

                <h5 class="card-header font primary-color white-text text-center py-4">
                    <strong>ارسال پیام</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" asp-controller="Home" asp-action="Contact" style="color: #757575;">

                        <div class="row mt-3">
                            <div class="form-group col-6">
                                <label class="control-label font">نام و نام خانوادگی</label>
                                <input asp-for="ContactName" class="form-control input-custom" />
                                <span asp-validation-for="ContactName" class="text-danger font"></span>
                            </div>
                            <div class="form-group col-6">
                                <label class="control-label font">شماره تماس</label>
                                <input asp-for="ContactNumber" type="number" class="form-control input-custom" />
                                <span asp-validation-for="ContactNumber" class="text-danger font"></span>
                            </div>

                        </div>

                        <div class="form-group col-12">
                            <label class="control-label font">متن پیام</label>
                            <textarea asp-for="ContactBody" style="height: 300px" class="form-control input-custom"></textarea>
                            <span asp-validation-for="ContactBody" class="text-danger font"></span>
                        </div>




                        <div class="form-group col-3">
                        <!-- Sign up button -->
                        <button class="btn btn-outline-primary font btn-rounded mt-5 btn-block my-4 waves-effect z-depth-0" type="submit">ثبت شکایت</button>

                        </div>


                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form register -->
        </div>
    </div>  </div>
