@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="col-12">
    <h3 class="text-center text-primary font mt-5">جدید ترین مجموعه های ورزشی</h3>
    
</div>
<div class="row mt-2 mb-5">
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm bg-warning btn-block aqua-gradient font waves-effect waves-light">مشاهده مجموعه ورزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
    <!-- Card -->
    <div class="card booking-card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title title-card font-weight-bold text-primary text-center">
                <a>آموزش سی شارپ مقدماتی</a>
            </h4>
            <!-- Data -->

            <p class="mb-2 font text-success text-center">48/000هزار تومان</p>
            <!-- Text -->

            <hr class="my-1">
            <p class="lead text-info font size-font text-center">محمدرضا موحدی جم</p>

            <!-- Button -->
            <button class="btn btn-sm btn-block aqua-gradient font waves-effect waves-light">مشاهده دوره آموزشی</button>

        </div>

    </div>
    <!-- Card -->
</div>
</div>
<div class="col-12">
    <h3 class="text-center text-primary font mt-5">اخبار و مقالات</h3>

</div>
<div class="row mb-5">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
        <!-- Card Light -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="image/course.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <!-- Title -->
                <h5 class="card-title font title-card">دنیای برنامه نویسی</h5>
                <hr>
                <!-- Text -->
                <p class="card-text description font">
                    تا حالا به این فکر کردین که آیا میشه با کامپیوتر یا گوشی های هوشمند حرف زد؟ میشه به گوشی یا کامپیوتر
                    هایمان بگوییم که یک کاری رو برایمان انجام دهند و یا ما را سرگرم کنند؟ آنها چطور؟ گوشی ها، کامپیوتر ها؟
                    اونا میتونن حرف بزنن؟
                </p>
                <!-- Link -->

                <button type="button" class="btn btn-sm text-right font btn-outline-success btn-rounded waves-effect">
                    ادامه
                    مطلب
                </button>


            </div>

        </div>
        <!-- Card Light -->
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
        <!-- Card Light -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="image/course.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <!-- Title -->
                <h5 class="card-title font title-card">دنیای برنامه نویسی</h5>
                <hr>
                <!-- Text -->
                <p class="card-text description font">
                    تا حالا به این فکر کردین که آیا میشه با کامپیوتر یا گوشی های هوشمند حرف زد؟ میشه به گوشی یا کامپیوتر
                    هایمان بگوییم که یک کاری رو برایمان انجام دهند و یا ما را سرگرم کنند؟ آنها چطور؟ گوشی ها، کامپیوتر ها؟
                    اونا میتونن حرف بزنن؟
                </p>
                <!-- Link -->

                <button type="button" class="btn btn-sm font btn-outline-success btn-rounded waves-effect">
                    ادامه
                    مطلب
                </button>


            </div>

        </div>
        <!-- Card Light -->
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
        <!-- Card Light -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="image/course.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <!-- Title -->
                <h5 class="card-title font title-card">دنیای برنامه نویسی</h5>
                <hr>
                <!-- Text -->
                <p class="card-text description font">
                    تا حالا به این فکر کردین که آیا میشه با کامپیوتر یا گوشی های هوشمند حرف زد؟ میشه به گوشی یا کامپیوتر
                    هایمان بگوییم که یک کاری رو برایمان انجام دهند و یا ما را سرگرم کنند؟ آنها چطور؟ گوشی ها، کامپیوتر ها؟
                    اونا میتونن حرف بزنن؟
                </p>
                <!-- Link -->

                <button type="button" class="btn btn-sm font btn-outline-success btn-rounded waves-effect">
                    ادامه
                    مطلب
                </button>


            </div>

        </div>
        <!-- Card Light -->
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 p-2 mt-2">
        <!-- Card Light -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="image/course.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <!-- Title -->
                <h5 class="card-title font title-card">دنیای برنامه نویسی</h5>
                <hr>
                <!-- Text -->
                <p class="card-text description font">
                    تا حالا به این فکر کردین که آیا میشه با کامپیوتر یا گوشی های هوشمند حرف زد؟ میشه به گوشی یا کامپیوتر
                    هایمان بگوییم که یک کاری رو برایمان انجام دهند و یا ما را سرگرم کنند؟ آنها چطور؟ گوشی ها، کامپیوتر ها؟
                    اونا میتونن حرف بزنن؟
                </p>
                <!-- Link -->

                <button type="button" class="btn btn-sm font btn-outline-success btn-rounded waves-effect">
                    ادامه
                    مطلب
                </button>


            </div>

        </div>
        <!-- Card Light -->
    </div>
</div>
</div>
