<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Noble<span>UI</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">

            <li class="nav-item">
                <a href="dashboard-one.html" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">داشبورد</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#user" role="button" aria-expanded="false"
                   aria-controls="user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather icon-sm feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>      
                    <span class="link-title">کاربران</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/user" class="nav-link">لیست اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/user/Create" class="nav-link">افزودن کاربر</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sport/Trash" class="nav-link">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#state" role="button" aria-expanded="false"
                   aria-controls="state">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin icon-sm"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <span class="link-title">استان و شهر</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="state">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/State" class="nav-link">لیست اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/State/Create" class="nav-link">افزودن استان</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Trash/State" class="nav-link">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Sport" role="button" aria-expanded="false"
                   aria-controls="Sport">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award icon-sm"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>                    <span class="link-title">رشته های ورزشی</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Sport">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/Sport" class="nav-link">لیست اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sport/Create" class="nav-link">افزودن رشته ورزشی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sport/Trash" class="nav-link">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#collection" role="button" aria-expanded="false"
                   aria-controls="collection">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather icon-sm feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                    <span class="link-title">مجموعه های ورزشی</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="collection">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/Collection" class="nav-link">لیست اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Collection/Create" class="nav-link">افزودن مجموعه</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Collection/Trash" class="nav-link">بازیافت</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sms" role="button" aria-expanded="false"
                   aria-controls="sms">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail icon-sm"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>                    <span class="link-title">سامانه پیامکی</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="sms">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/Sms/Collection" class="nav-link">پیامک مجموعه</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sms/Customer" class="nav-link">پیامک مشتری</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sms/General" class="nav-link">پیامک عمومی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sms/Remember" class="nav-link">پیامک یادآوری</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Sms/Thank" class="nav-link">پیامک تشکر</a>
                        </li>
                      
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ticket" role="button" aria-expanded="false"
                   aria-controls="ticket">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather icon-sm feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                    <span class="link-title">سامانه تیکت</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="ticket">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/ticket" class="nav-link">صندوق دریافتی</a>
                        </li>
                      
                    </ul>
                </div>
            </li>
            
            

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Setting" role="button" aria-expanded="false"
                   aria-controls="Setting">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings icon-sm"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>                    <span class="link-title">تنظیمات</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Setting">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="/Admin/Setting" class="nav-link">عمومی</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/About" class="nav-link">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Complaint" class="nav-link">شکایات</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Contact" class="nav-link">پیام های ارسالی</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>