@model HeaderViewModel

<li class="nav-item">
    <a href="@Model.Instagram" class="nav-link waves-effect waves-light">
        <i class="fab fa-instagram"></i>
    </a>
</li>
<li class="nav-item">
    <a href="@Model.Telegram" class="nav-link waves-effect waves-light">
        <i class="fab fa-telegram"></i>
    </a>
</li>